.test {
    /* padding: 10px; */
    /* border: 1px dashed #ccc; */
    background-color: green;
}

.reveal-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 0.8s ease-out forwards;
}

.reveal-right {
    opacity: 0;
    transform: translateX(50px);
    animation: slideInRight 0.8s ease-out forwards;
}

.reveal-top {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideInTop 0.8s ease-out forwards;
}

.reveal-bottom {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideInBottom 0.8s ease-out forwards;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Background que ofusca o que está por trás (na cor Black) */

.lens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

.lens.active {
    visibility: visible;
    opacity: 1;
}


/* Icon Menu Mobile */

.icon_menu {
    position: relative;
    margin: 12px 6px;
    padding: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.icon_menu span {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--gray);
}

.icon_menu span::before,
.icon_menu span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--gray);
}

.icon_menu span::before {
    top: -7px;
}

.icon_menu span::after {
    top: 7px;
}


/* Conteúdo do Menu Mobile */

.content_menu_mobile {
    /* padding: 8px; */
    position: fixed;
    width: 80%;
    max-width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    background-color: var(--white);
    display: flex;
    transition: all .4s ease-in-out;
    z-index: 1000;
}

.content_menu_mobile.open {
    left: 0;
    transition: all .4s ease-in-out;
}

.content_mobile {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1100;
    background-color: var(--white);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content_mobile::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.logotipo_mobile {
    display: block;
}

.logotipo_mobile img {
    width: 100%;
    max-width: 300px;
}

.menu_mobile_box {
    width: 100%;
    padding: 20px 5px 0 5px;
}

.menu_mobile_box p {
    color: var(--blue_light);
    text-transform: uppercase;
    font-weight: bold;
}

.content_mobile a {
    color: var(--navy_blue);
    font-weight: bold;
    padding: 14px 5px;
    border-bottom: 1px dashed var(--corporate_pen);
}

.main_redes_sociais {
    width: 100%;
    margin: 25px 0;
    background-image: url("../images/jpeg/multimidia_car.jpg");
    background-position: top -60px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_redes_sociais p {
    text-align: center;
    color: var(--nav_blue_light);
    font-weight: bold;
}

.glass {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.redes_sociais {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    margin: 85px 3%;
    padding: 30px 15px 15px;
    border-radius: 10px;
}

.redes_sociais p {
    font-size: 1.2rem;
    width: 80%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--navy_blue);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 100px;
}

.redes_sociais .icon {
    width: 44px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    transition: all .2s ease-in-out;
}

.icon-facebook {
    background-image: url("../images/icons/facebook.png");
}

.icon-instagram {
    background-image: url("../images/icons/instagram.png");
}

.icon-youtube {
    background-image: url("../images/icons/youtube.png");
}

.icon-whatsapp {
    background-image: url("../images/icons/whatsapp.png");
}

.content_header_logotipo {
    background-color: var(--white);
    box-shadow: var(--shadow-down);
    margin-top: -30px;
}

.logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logotipo_call {
    padding: 10px 0;
}

.header_logotipo_call p {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    color: var(--nav_blue_light);
    font-weight: 900;
}

.content_video {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.box_video {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
}

.box_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.call_to_play_video {
    padding: 8px 10px;
    width: 92%;
    margin: -15px 4% 0;
    border-radius: 10px;
    color: var(--white);
    background: linear-gradient(var(--blue_light), var(--nav_blue_light));
    z-index: 1;
    box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.7);
}

.call_to_play_video p {
    text-align: center;
    font-size: 1.2rem;
}

.call_to_play_video b {
    text-transform: uppercase;
}

.content_data_call {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.carplay_android_auto {
    font-size: 2.0rem;
    color: var(--blue_light);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}

.multimedia_guarantee {
    padding-top: 8px;
    font-size: 1.8rem;
    color: var(--black);
    text-align: center;
    font-weight: 700;
}

.result_numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px dashed var(--black);
    border-bottom: 1px dashed var(--black);
    text-align: center;
}

.guarantee,
.satisfaction,
.experience {
    padding: 6px;
}

.satisfaction {
    padding: 0 30px;
    border-right: 1px dashed var(--black);
    border-left: 1px dashed var(--black);
}

.guarantee_year,
.satisfaction_number,
.experience_year {
    font-size: 2.7rem;
    color: var(--navy_blue);
    font-weight: 900;
}


/* 
.satisfaction_number {
    padding-bottom: 15px;
} */

.guarantee_text,
.satisfaction_text,
.experience_text {
    font-size: 1.25rem;
}


/* Conteúdo do Menu Web */

.content_menu_web {
    display: none;
}