.test {
    padding: 10px;
    border: 1px dashed #ccc;
}


/* Background que ofusca o que está por trás (na cor Black) */

.lens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

.lens.active {
    visibility: visible;
    opacity: 1;
}


/* Icon Menu Mobile */

.icon_menu {
    position: relative;
    margin: 12px 6px;
    padding: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.icon_menu span {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--gray);
}

.icon_menu span::before,
.icon_menu span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--gray);
}

.icon_menu span::before {
    top: -7px;
}

.icon_menu span::after {
    top: 7px;
}


/* Conteúdo do Menu Mobile */

.content_menu_mobile {
    /* padding: 8px; */
    position: absolute;
    width: 80%;
    max-width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    background-color: var(--white);
    display: flex;
    transition: all .4s ease-in-out;
    z-index: 1000;
}

.content_menu_mobile.open {
    left: 0;
    transition: all .4s ease-in-out;
}

.content_mobile {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1100;
    background-color: var(--white);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content_mobile::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.logotipo_mobile {
    display: block;
}

.logotipo_mobile img {
    width: 100%;
    max-width: 300px;
}

.menu_mobile_box {
    width: 100%;
    padding: 20px 5px 0 5px;
}

.menu_mobile_box p {
    color: var(--blue_light);
    text-transform: uppercase;
    font-weight: bold;
}

.content_mobile a {
    color: var(--navy_blue);
    font-weight: bold;
    padding: 14px 5px;
    border-bottom: 1px dashed var(--corporate_pen);
}

.main_redes_sociais {
    width: 100%;
    margin: 25px 0;
    background-image: url("../images/jpeg/multimidia_car.jpg");
    background-position: top -60px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_redes_sociais p {
    text-align: center;
    color: var(--nav_blue_light);
    font-weight: bold;
}

.redes_sociais {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 60px 5%;
    background-color: var(--gray-clean);
    padding: 30px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.redes_sociais p {
    font-size: 1.2rem;
    width: 80%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--navy_blue);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 100px;
}

.redes_sociais .icon {
    width: 44px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    transition: all .2s ease-in-out;
}

.icon-facebook {
    background-image: url("../images/icons/facebook.png");
}

.icon-instagram {
    background-image: url("../images/icons/instagram.png");
}

.icon-youtube {
    background-image: url("../images/icons/youtube.png");
}

.icon-whatsapp {
    background-image: url("../images/icons/whatsapp.png");
}

.content_header_logotipo {
    /* padding: 15px; */
    background-color: var(--white);
    box-shadow: var(--shadow-down);
    margin-top: -30px;
}


/* Conteúdo do Menu Web */

.content_menu_web {
    display: none;
}